.modal_img {
    display: flex;
    min-height: 600px;
    border-radius: 8px;
    background-size: cover !important;
    background-position-x: center;
}


@media (max-width:991.98px) {
    .fade {
     margin-left: 0px !important;
     margin-top: 30vh !important;
     position: absolute !important;
     z-index: auto !important;
    }
    
}